<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.russia.meetster"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.russia.meetster.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.russia.meetster.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.russia.meetster.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.russia.meetster" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.russia.meetster" />
        </activity>
        <activity
            android:name="com.russia.meetster.CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="com.russia.meetster.ConfirmationscreenActivity"
            android:label="@string/title_activity_confirmationscreen" >
        </activity>
        <activity
            android:name="com.russia.meetster.Main"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>