<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.russia.meetster"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:name="com.russia.meetster.MeetsterApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light" >
        <activity
            android:name="com.russia.meetster.activities.MainActivity"
            android:label="Events" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.russia.meetster.data.MeetsterContentProvider"
            android:authorities="com.russia.Meetster.provider" >
        </provider>

        <activity
            android:name="com.russia.meetster.activities.CreateEventActivity"
            android:label="@string/fittari" >
        </activity>
        <activity
            android:name="com.russia.meetster.activities.SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <service android:name=".data.MeetsterSyncService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data 
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_meetster"/>
        </service>
        <activity android:name=".activities.AddFriendActivity"></activity>
    </application>

</manifest>